<ActionBar title="Carrinho" class="action-bar">
</ActionBar>

<ScrollView class="page" *ngIf="!loading">
    <StackLayout flexDirection="column">

        <StackLayout class="tabStore card">

            <ScrollView orientation="horizontal">
                <FlexboxLayout class="tabStore-container">
                    <FlexboxLayout class="tabStore-item tabStore-item-is-active" alignItems="center">
                        <Label text="Portal da Villa Choperia"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout class="tabStore-item" alignItems="center">
                        <Label text="Vila do Chop"></Label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </ScrollView>

        </StackLayout>

        <StackLayout class="card address">


            <FlexboxLayout alignItems="center" class="store">
                <Image src="https://cdn.wiboo.io/Imageb4bb3f4e-26bd-4817-9c5a-cb752e6bdf05" stretch="fill" class="store-logo"></Image>
                <Label text="Portal da Villa Bar e Choperia" class="store-name"></Label>
            </FlexboxLayout>

            <Label text="Endereço de Retirada:" class="address-label"></Label>

            <FlexboxLayout alignItems="center" justifyContent="space-between">

                <Label
                    width="80%"
                    text="Av. Cassiano Ricardo, 1800 - Jardim Alvorada, São José dos Campos - SP, 12246-870"
                    textWrap="true" class="address-location">
                </Label>

                <Image src="res://map_location" class="address-icon" stretch="fill"></Image>

            </FlexboxLayout>
        </StackLayout>

        <StackLayout class="card" marginTop="12" padding="0">

            <FlexboxLayout alignItems="flex-start" class="product" *ngFor="let item of items">

                <Image [src]="item.img" class="img" stretch="fill"></Image>
                <StackLayout>
                    <Label [text]="item.name" class="card-name"></Label>
                    <Label [text]="item.price" class="card-price"></Label>

                    <FlexboxLayout alignItems="center">
                        <Button text="-" class="qty-btn"></Button>
                        <Label text="2" class="qty-total"></Label>
                        <Button text="+" class="qty-btn"></Button>
                    </FlexboxLayout>

                </StackLayout>
            </FlexboxLayout>
        </StackLayout>

        <StackLayout class="card" marginTop="12">

            <FlexboxLayout class="summary">
                <Label text="Custo dos produtos"></Label>
                <Label text="R$ 2,79" class="summary-value"></Label>
            </FlexboxLayout>

            <FlexboxLayout class="summary">
                <Label text="Custo dos produtos"></Label>
                <Label text="R$ 2,79" class="summary-value"></Label>
            </FlexboxLayout>

            <FlexboxLayout class="summary summary-total">
                <FlexboxLayout flexDirection="column">
                    <Label text="Valor total" class="black"></Label>
                    <Label text="Restante a pagar" class="summary-money"></Label>
                </FlexboxLayout>
                <Label text="R$ 28,79" class="black summary-value summary-total-value"></Label>
            </FlexboxLayout>

        </StackLayout>

        <Button text="Finalizar Reserva" class="btn-confirm"></Button>

        <Label class="msg-withdraw" textWrap="true" text="Não esqueça de conferir o hoŕario de funcionamento da loja, para retirar o produto."></Label>

    </StackLayout>
</ScrollView>

<!--
    - falta botao de excluir
    - imagem map de endereço
    - seleciona a forma de pagamento
    - alinhar dinheiro para direita dentro do card

    - Colocar icone de informativo, ao clicar abrir modal falando detalhes
    - Formas
        Pague pelo app
        Pague na entrega
        https://files.slack.com/files-pri/T0GPLQSTX-FLDMU4RSA/image.png

    Resumo do pedido
        https://lh4.googleusercontent.com/gO07J325lQruOY_BiuNIPnz5BI7w57UatMqpzrvwtw5-cgs9b0VwN_kAzkwkw7-HPatp-cNSfohg-zuf9FNzD9FF7v4xBPB8UoIAA57J=s2003
 -->
