.page {
    padding-top: 50;
    background: #eee;
}

.action-bar {
    background: linear-gradient(262deg, #3aa7af, #38b88c);
    color: #FFF;
}

.tabStore {
    margin: 12 0;
    font-family: "Nunito_Light";

}

.tabStore-container {
    height: 38;
    border-width: 2;
    border-color: #e5edef;
    border-radius: 20;
    overflow: hidden;
}

.tabStore-item {
    margin-right: 10;
    border-radius: 20;
    padding: 2 8;
    font-size: 12;
}

.tabStore-item-is-active {
    font-family: "Nunito_Bold";
    color: #FFF;
    background-color: #38b88c;
}


.card {
    background-color: #FFF;
    padding: 12;
    border-radius: 8;
}

.product {
    border-width: 0 0 2 0;
    border-color: #f7f7f7;
    border-bottom: 1;
    padding: 12;
}

.card-name {
    font-size: 14;
}

.card-price {
    font-size: 14;
}


.img {
    width: 70;
    height: 70;
    border-radius: 4;
}

/* QTY */
.qty-total {
    font-size: 14;
    width: 24;
    text-align: center;
    padding: 0;
    margin: 0;
}

.qty-btn {
    font-family: "Nunito_Bold";
    font-size: 14;
    padding: 0;
    margin: 0;
    width: 24;
    height: 24;
    min-width: inherit;
    min-height: inherit;
    background: #fff;
    color: #3aa7af;
    border-color: #e5edef;
    border-width: 2;
    border-radius: 4;
}

.address-label {
    font-size: 12;
    color: #9faab7;
}

.address-location {
    color: #333;
}

.address-icon {
    width: 50;
    height: 50;
    margin-left: 8;
    opacity: 0.7;
}

.store {
    margin-bottom: 8;
    padding-bottom: 8;
    border-width: 0 0 2 0;
    border-color: #f7f7f7;
}

.store-logo {
    width: 40;
    height: 40;
    margin-right: 8;
}

.store-name {
    font-family: "Nunito_Bold";
}

.summary {
    display: flex;
    color: #9faab7;
    margin-bottom: 8;
    align-items: center;
    justify-content: space-between;
}

.summary-value {
    color: #333;
}

.summary-total {
    color: #333;
    font-size: 18;
    border-width: 1 0 0 0;
    border-color: #e5edef;
    padding-top: 8;
    margin-bottom: 0;
}

.summary-money {
    font-size: 14;
    line-height: 1;
    color: #9faab7;
}

.summary-total-value {
    font-size: 28;
}

.btn-confirm {
    font-size: 16;
    margin: 12;
    border-radius: 4;
    background: linear-gradient(262deg,#3483fa,#0559d7);
    color: #fff;
    text-transform: capitalize;
}

.msg-withdraw {
    font-size: 14;
    text-align: center;
    padding: 12 24;
}

.btn-trash {
    width: 14;
}

.payment {
    color: #999;
    font-size: 18;
    color: #333;
}

.payment-text {
    font-size: 15;
    color: #999;
    margin-top: 2;
}

.payment-icon {
    width: 24;
}
