/* .action-bar {
    background: linear-gradient(262deg, #3aa7af, #38b88c);
    font-size: 14;
}

.summary {
    display: flex;
    color: #9faab7;
    margin-bottom: 8;
    align-items: center;
    justify-content: space-between;
}

.summary-value {
    color: #333;
}

.summary-total {
    color: #333;
    border-width: 1 0 0 0;
    border-color: #e5edef;
    padding-top: 8;
    margin-bottom: 0;
}

.summary-money {
    font-size: 14;
    line-height: 1;
    color: #9faab7;
}

.btn-confirm {
    font-size: 16;
    margin: 12;
    border-radius: 4;
    background: linear-gradient(262deg,#3483fa,#0559d7);
    color: #fff;
    text-transform: capitalize;
}

.green {
    color: #4daa5d;
}

.red {
    color: #b83726;
}

.text-center {
    text-align: center;
}

.icon-plus {
    font-size: 20;
    padding: 0 8;
} */
