.action-bar {
    background: linear-gradient(262deg, #3aa7af, #38b88c);
    font-size: 15;
    color: #FFF;
}

.action-bar-balance {
    font-size: 9;
    text-align: right;
    margin-right: 12;
}

.action-bar-balance-val {
    font-size: 12;
    font-family: "Nunito_Black";
}

.page {
    padding-top: 50;
    background: #eee;
}

.card {
    background-color: #FFF;
    padding: 12;
    border-radius: 0 0 8 8;
    text-align: center;
}

.tab {
    padding: 0 12;
    margin-top: 12;
}

.tab-item {
    background-color: #fff;
    padding: 8 0;
    border-radius: 4 4 0 0;
    border-width: 1;
    border-color: #eee;
    transition: border .2s ease;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.tab-item-is-active {
    border-width: 1 1 0 1;
    color: #4daa5d;
}

.tab-item-is-active Label {
    font-family: "Nunito_Bold";
}

.summary {
    display: flex;
    color: #9faab7;
    margin-bottom: 8;
    align-items: center;
    justify-content: space-between;
}

.summary-value {
    color: #333;
}

.summary-total {
    color: #333;
    border-width: 1 0 0 0;
    border-color: #e5edef;
    padding-top: 8;
    margin-bottom: 0;
}

.summary-total-wibxPayStore {
    color: #333;
    font-size: 18;
    border-width: 0;
    padding-top: 8;
    margin-bottom: 0;
}

.summary-money {
    font-size: 14;
    line-height: 1;
    color: #9faab7;
}

.btn-confirm {
    font-size: 16;
    margin: 24 0 0;
    border-radius: 4;
    background: linear-gradient(262deg,#3483fa,#0559d7);
    color: #fff;
    text-transform: none;
}

.green {
    color: #4daa5d;
}

.red {
    color: #b83726;
}

.icon-plus {
    font-size: 20;
    padding: 0 8;
}

.backPage {
    font-size: 12;
    margin: 16;
}

.inputWibx-label {
    text-align: left;
    color: #9faab7;
    margin-bottom: 6;
}

.inputWibx {
    text-align: left;
    color: #9faab7;
    border-color: #eee;
    border-width: 2;
    border-radius: 4;
    padding: 10;
    font-size: 14;
}

.inputReal {
    text-align: right;
    width: 94;
}

.notWibx {
    color: #9faab7;
}
