<ActionBar title="Selecionar forma de pagamento" class="action-bar">
</ActionBar>

<ScrollView class="page" *ngIf="!loading">
    <StackLayout>

            <!-- [nsRouterLink]="['/items']" pageTransition="slideRight" -->

        <Button class="btn btn-primary btn-active" id="button" text="Tap me!" ></Button>

    </StackLayout>
</ScrollView>

<!--
    - colocar menu dropdown pra lixeira

    - Colocar icone de informativo, ao clicar abrir modal falando detalhes
    - Formas
        Pague pelo app
        Pague na entrega
        https://files.slack.com/files-pri/T0GPLQSTX-FLDMU4RSA/image.png

    Resumo do pedido
        https://lh4.googleusercontent.com/gO07J325lQruOY_BiuNIPnz5BI7w57UatMqpzrvwtw5-cgs9b0VwN_kAzkwkw7-HPatp-cNSfohg-zuf9FNzD9FF7v4xBPB8UoIAA57J=s2003
 -->
